@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:antiquewhite;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
180deg
, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

body {
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

main {
  background-color: rgb(255 255 255 / 31%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1250px;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
}

main::-webkit-scrollbar{
  display: none;
}

/* navbar styles */
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(255 255 255 / 35%);
}

.navBar > h1,.navBar > navigationMenu{
  margin: 10px;
}

.navigationMenu > a{
  padding: 5px 10px;
  margin-left: 10px; 
  text-decoration: none;
  color: black;
  display: inline-block;
}

.navigationMenu > a:hover{
  transition: ease-in-out 300ms;
  background: white;
}

.heroSection{
  padding:6% 0;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.profileImage{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.herosectionDetails{
  text-align: center;
}

.herosectionDetails > h1{
  font-size: 50px;
  margin: 10px;
}
.projectContainer{
  display: flex;
  width: 90%;
}

.projectContainer > img{
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.projectContainer > .projectDescription > h4{
  margin: 0;
}

.projectContainer > .projectDescription > p{
  margin: 0;
  margin-bottom: 1rem;
}

#BOOKS{
  font-size: larger;
  font-weight: bold;
}
.footer{
  background: #000;
  color: black;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: black;
}
.footer h3{
  color: black;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width:180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style: none;
}
.applogo{
margin-top: 20px;
}
.applogo img{
  width: 140px;
}
.footer hr{
  background: none;
  background:black;
  height: 1px;
  margin: 20px 0;
}
.Copyright{
  text-align: center;
}
.Menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
.row{
  padding: 3%;
  display: flex;
}